<footer class="d-flex justify-content-around align-items-center py-3 border-top">
    <span>&copy; 2023 - Country Wiki</span>
    <span>Developed by - Simone Tartaglia</span>
    <span>Data provided by<a href="https://restcountries.com"> REST Countries</a></span>
    <div class="">
        <span>Contacts: </span>
        <a class="btn my-button  btn-floating m-1" href="https://www.facebook.com/profile.php?id=100094345283760" role="button"><i class="fab fa-facebook"></i></a>
        <a class="btn my-button btn-floating m-1" href="https://www.instagram.com/sandyclaws89/" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn my-button btn-floating m-1" href="https://www.linkedin.com/in/simone-tartaglia/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn my-button btn-floating m-1" href="https://github.com/startaglia" role="button"><i class="fab fa-github"></i></a>
    </div>
</footer>

