<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header.ejs")%>
    <body>
        <h1>Ait Quality</h1>
    </body>
    <%- include("partials/footer.ejs")%>
    <script src="../index.js"></script>
</html>
