<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
    <div class="result-box">
        <h1>result schede</h1>
    </div>
</body>
<%- include("./partials/footer.ejs") %>
</html>
