<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body class="d-flex flex-column justify-content-between vh-100">
    <div class="usage-box">
        <h1>usage</h1>
    </div>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>
