*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --back: #E0E0E0;
    --background-color: #BDBDBD;
    --text: #333333;
    --highlighted-text: #4CAF50;
    --link: #009688;
    --btn: #00796B;
    --header: #B0BEC5;
    --highlighted: #FFC107;
    --footer: #333333;
}
body{
    background-color: var(--back);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 600;
}
nav{
    width: 100%;
    background-color: var(--footer);
    color: var(--highlighted-text);

}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
footer{
    width: 100%;
    color: var(--highlighted-text);
    background-color: var(--footer);
    font-size: 20px;
}
i{
    font-size: 1.5rem;
}
.my-button {
    background-color: var(--btn);
    color: var(--back);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    column-gap: 100px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}
.my-button:hover {
background-color: var(--highlighted);
color: var(--highlighted-text);
}
